<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
<title>Crear o editar noticia</title>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>

	<form method="post" action="#" th:action="@{/noticias/new/submit}"
		th:object="${noticia}" class="px-2 m-2">
		<h1>
			<span th:text="${id} ? 'Editar' : 'Nueva'"></span> noticia
		</h1>

		<input type="hidden" th:field="*{id}" id="id" />
		<div class="form-group">
			<label for="tituloInput">Titulo</label> <input class="form-control"
				type="text" placeholder="Titulo de la noticia" th:field="*{titulo}"></input>
		</div>
		<div class="form-group">
			<label for="textoInput">Texto de la noticia</label> 
			    <textarea class="form-control" maxlength="250" rows="3" placeholder="Desarrollo de la noticia" th:field="*{texto}"></textarea>
		
		<!-- 	<input class="form-control"
				type="text" placeholder="Texto de la noticia" th:field="*{texto}">
				</input>  -->
		</div>
		<button type="submit" class="btn btn-primary">Enviar</button>
	</form>

	<div th:replace="fragments/footer :: footer"></div>
	<br />
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>

</body>
</html>